<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.xml"/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>